*{  margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    list-style: none;
    font-family: sans-serif;


}
.forheading{
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: rgb(120, 199, 195);
    text-align: center;
    margin-bottom: 10px;
}
.forparagraph{
    font-weight: 300;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.forsubheading{
    color: rgb(120, 199, 195);
    font-size: 18px;
    padding-bottom: 3px;
}
.forworking_days{
    background-color: rgb(120, 199, 195);
    color: white;
    border-radius: 50%;
    font-size: 22px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
    
}
.fornonworking_days{
    background-color: black;
    color: white;
    border-radius: 75%;
    font-size: 22px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;

}
.resume{
    width: 799px;
    height: auto;
    display: flex;
    margin: 60px auto;
    box-shadow: 2px 2px 30px 0 rgba(0,0,30,.1);
    
}
.resume_profile{
    padding: 30px;
    width: 300px;
   
}
.profilephoto img{
    width: 225px;
    height: 225px;
    border-radius: 50%;
}
.about{
    background-color: rgb(120, 199, 195);
    width: 300px;
    color: white;
    align-self: center;
    margin: 10px;
    margin-top: 20px;
}
.about h1{
   text-align: center;
}
.resume_study div{
padding: 10px;
width: auto;
}
.certification p{
    text-align: center;
}

.study p{
    text-align: center;

}
.bar{
    display: block;
    height: 5px;
    overflow: hidden;
    
}
.bar span{
    height: 4px;
    float: left;
    background: rgb(120, 199, 195);
}
.html{
    width: 90%;
}
.python{
    width: 100%;
}
.java{
    width: 70%;
}
.c {
    width: 35%;
}
.ruby{
    width: 60%;
}
.cards{
    margin: 10px;
    box-shadow: 2px 2px 30px 0 rgba(0,0,0,.08);
    border-radius: 7%;
}
.resume_study{
    margin-top: 15px;
    margin-right: 20px;

}
#interest{
    border-radius: 50%;
    
}
#interest2{
    border-radius: 50%;
    padding: 2px;
}
#interest3{
    border-radius: 50%;
    padding: 2px;
}
#interest4{
    border-radius: 50%;
    padding: 2px;
}
#interest1{
    border-radius: 50%;
    padding: 2px;
}
.interest_images{
    display: inline;
}
button {
    padding: 10px;
    background-color: rgb(120, 199, 195);
    border-radius: 10px;
    margin-left: 45%;
}
.menu{
    display: inline;
    align-items: center;
    margin: 1px;
    padding: 5px;
    border: 1px solid rgb(120, 199, 195);
}
#menu1{
   padding: 5px 18%;
}
#menu2{
    padding: 5px 18%;
}
#qualification{
    padding: 15px;
}
.qualities{
    padding-top: 15px;
}